{% extends 'base.html' %}
{% block title %}A weekly recipes/shopping list creator{% endblock %}

{% block styling%}
{{ super() }}
{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
      <div class="container">
          <h1 class="display-4">A weekly recipes/shopping list creator</h1>
          <p class="lead">Helper for deciding recipes and creating a shopping list</p>
          <hr class="my-4">
          <p>You've found the right place! This helper will give you ideas what to cook and what to buy for your whole family!</p>
          <a class="btn btn-warning btn-lg" href="{{ url_for('get_recipes')}}" role="button">Give me ideas!</a>
      </div>
  </div>

{% endblock %}
