{% extends 'base.html' %}
{% block title %}A weekly recipes/shopping list creator{% endblock %}

{% block styling%}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-10 mx-auto mt-3">
        <div class="card border-secondary">
            <div class="card-header">Shopping list</div>
            <div class="card-body text-secondary">
                <h1>Shopping List</h1>
                <br>
                <div class="categories category-header">
                    {% for category, items in categorized_ingredients.items() %}
                        <h3>{{ category }}</h3>
                        {% if items %}
                            <ol class="list-group">
                                {% for item in items %}
                                    <li class="list-group-item">{{ item['quantity'] }} {{ item['measurement'] }} {{ item['name'] }}</li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            <p>No items in this category.</p>
                        {% endif %}
                    {% endfor %}
                </div>
                </ol>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row col-6 mx-auto mt-3">
        <div class="col"></div>
        <div class="button-container col">
            <a class="btn btn-warning btn-lg centered-btn" href="{{ url_for('home') }}" role="button">
                Home
            </a>
        </div>
        <div class="button-container col">
            <a class="btn btn-warning btn-lg centered-btn" href="{{ url_for('get_recipes') }}" role="button">
                New recipes
            </a>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}